.details {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: #202020;
  box-shadow: 4px 3px 8px 0px rgb(200 152 44);
  transition-duration: 0.3s;
}
.movie_banner_img {
  margin-top: 5px;
}

.details_wrapper {
  align-items: center;

}

.movie_header_title {
  font-size: 35px;
  color: #fff;
  font-weight: 600;
  line-height: 70px;
}

.movie_header_realease_date,
.movie_header_rating {
  color: #fff;
  font-weight: 700;
}
