<app-search></app-search>

<div class="details">
  <div class="movie-banner">
    <img class="movie_banner_img" src="https://image.tmdb.org/t/p/w400{{single_movie?.poster_path}}"/>
  </div>

  <div class="details_wrapper">
    <h1 class="movie_header_title">{{single_movie?.title}}</h1>
    <h2 class="movie_header_realease_date">{{single_movie?.release_date}}</h2>
    <p class="movie_header_rating">
      <span>RATING: {{single_movie?.vote_average}}</span>
    </p>

    <button (click)="back()">Back</button>
  </div>

</div>

