<app-search></app-search>
<p>{{single_movie | json}}</p>



<!--<div class="bigest_wrap">-->
<!--  <div class="details" *ngFor="let s of single_movie.results">-->
<!--    <div class="movie-banner">-->

<!--      <img-->
<!--        class="movie_banner_img"-->
<!--      />-->
<!--    </div>-->

<!--    <div class="content">-->
<!--      <div class="details_wrapper">-->
<!--        <div class="movie_header">-->
<!--          <h1 class="movie_header_title">{{s.title}}</h1>-->
<!--          <h2 class="movie_header_realease_date">fdg</h2>-->
<!--          <p class="movie_header_genre">-->
<!--            <span>Genre</span>-->
<!--          </p>-->
<!--        </div>-->
<!--      </div>-->

<!--    </div>-->

<!--  </div>-->
<!--</div>-->
